body {
    size: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: orange;
    background-color: #aaaaaa;
    /* background-size: 3.3%;  */
    
}



h3 {
    text-align: center;
    background-color:grey;
    opacity:0.9;
    border: ridge;
    border-radius: 35px;
}

label {
    background-color:grey;
    color:whitesmoke;
    font-style: inherit;
    border: ridge;
    border-radius: 15px;
}
.btn {
    border-radius: 35px;
}
.container {
    
    opacity: 1.0;
}

#wellSection {
    background-color:navy;
    opacity: 0.9;
    border: solid;
    border-color:whitesmoke;
    color:white;
    float: center;
    border: ridge;
    padding:5px;
    border-radius: 20px;

}
#footer {
    background-color:black;
    width:auto;
    opacity: 1.0;
    padding-bottom: 30px;
    border: ridge;
    border-radius: 35px;
}
.jumbotron{
    background-image: url(images/nytHeader.jpg);
    background-size:100%;
    opacity: 0.9;
    border: ridge;
    border-radius: 35px;
}
.form-control {
    border-radius: 35px;
}

